@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i');
@import 'variables/all';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  color: $black;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: .6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
    font-family: 'Cabin', sans-serif;
}
